body{
	background-image: url(../asset/star-bg.webp);
	background-repeat: repeat;
    background-size: 420px;
}
.course-name{
	display: flex;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.course-name > img{
	width: 40vw;
	min-width: 300px;
}